<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Employee Management Portal</h1>

    <nav>
        <a href="/">Dashboard</a>
        <a href="/employees">Employees</a>
        <a href="/about">About</a>
    </nav>
</header>

<div class="container">

    <div class="card">

        <h2>About This Project</h2>

        <p>
            Employee Management Portal is a hands-on DevOps learning project.
        </p>

        <h3>Technologies Used</h3>

        <ul>
            <li>Python Flask</li>
            <li>SQLite Database</li>
            <li>HTML & CSS</li>
            <li>Git & GitHub</li>
            <li>Docker</li>
            <li>GitHub Actions</li>
            <li>Azure Deployment</li>
        </ul>

        <h3>Project Purpose</h3>

        <p>
            This project was built to learn application deployment,
            Docker, CI/CD pipelines, GitHub Actions, and Azure hosting.
        </p>

    </div>

</div>

</body>
</html>