<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Employee Management Portal</h1>

    <nav>
        <a href="/">Dashboard</a>
        <a href="/employees">Employees</a>
        <a href="/about">About</a>
    </nav>
</header>

<div class="container">

    <div class="card">
        <h2>Employee Directory</h2>

        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>

            {% for employee in employees %}
            <tr>
                <td>{{ employee[0] }}</td>
                <td>{{ employee[1] }}</td>
                <td>{{ employee[2] }}</td>
                <td>{{ employee[3] }}</td>
                <td>{{ employee[4] }}</td>

                <td>
                    <a class="delete-btn"
                       href="/delete/{{ employee[0] }}">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>